name: pull_request_created
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    branches: 
      - 'main'
    paths-ignore:
      - '*.md' 
      - '*.yaml'
      - '.github/workflows/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-created:
    uses: kubescape/workflows/.github/workflows/incluster-comp-pr-created.yaml@main
    with:
      GO_VERSION: "1.21"
      CGO_ENABLED: 0
    secrets: inherit

  component-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go 1.21
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"
          env: |
            CGO_ENABLED=0
      - name: Run component tests
        run: |
          echo "machine github.com login git password ${{ secrets.INGESTERS_READ_TOKEN }}" > ~/.netrc
          go test --timeout=20m --tags=integration ./...
